/*Navigation bar*/
#navbar{
    flex-direction: column;
}


/*Home section*/
#home{
    height: 280px;
    
}
#home::before{
    height: 480px;
    
}
#home p{
    height: 30px;
    
}

/*Services section*/
#services{
    flex-direction: column;
}
#services.box{


/*client section*/
#client{
    overflow: hidden;
}





/*contact us section*/


/*footer section*/
